extends layout

block content
    nav(id="topnavbar" class = "navbar navbar-default navbar-fixed-top navbar-inverse", role="navigation")
        div.container-fluid
            div.navbar-brand
                |Anonymous Box
            ul(class="nav navbar-nav")
                li
                    a(href="http://anonymousbox.github.io")
                        |About
            div.collapse.navbar-collapse
                form(class ="navbar-form navbar-right", role="search")
                    div.form-group
                        input(type="text", class="form-control", placeholder="search", ng-model="search")
    div.viewspace 
        div(ng-view)
