doctype html
html(ng-app='Anonymousbox')
    head
        title= title
        script(src='/bower_components/jquery/jquery.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/controllers.js')
        script(src='/javascripts/services.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/glitch.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/jquery.resizecrop-1.0.3.min.js')
        script(src='/javascripts/styling.js')
    body(ng-controller='MessagesCtrl')
        div#glitcharea
            block content

