body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width:800px;
}

a {
  color: #00B7FF;
}
.viewspace{
    width: 800px;
}
#picturecontainer{
}
.crop{
    text-align: center;
    display:inline-block;
}
.rimg{ 
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,1);
}
.rimg:hover{ 
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,1);
}
.rightside{
    text-align: right;
}
