body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width:800px;
}

a {
  color: #00B7FF;
}
.viewspace{
    width: 800px;
}
.crop{
    overflow: hidden;
    float:left;
}
.rimg{
    width: 250px;
    height: 250px;
    border-radius: 1000px;
}
