<div class="container">
    <div ng-repeat='message in messages | filter:search'>
        <div class="onemessage">
            <div class="well">
                <legend>{{message.getDate}} </legend> 

                <div ng-if="!glitch">
                    <h1>Message: {{message.message}}</h1>
                </div>
                <div class="row" ng-if="glitch">
                    <div class="col-xs-6">
                        <div ng-repeat='pictureurl in message.pictureurls'>
                            <div class="crop">
                                <img class="rimg" src="/images/{{pictureurl}}">     
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                            <h2>Message Sent: {{message.message}} </h2>
                            <h2>Stayed for {{message.staytime}} seconds</h2>
                            <h2>Spent {{message.staytime}} seconds writing the message</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
