<div class="container">
    <div ng-repeat='message in messages | filter:search'>
        <div class="onemessage">
            <div class="well">
                <legend>{{message.getDate}} </legend> 

                <div ng-if="!glitch">
                    <h1>Message: {{message.message}}</h1>
                </div>
                <div ng-if="glitch">
                    <br>
                    <div class="picturecontainer row" >
                            <div class="crop col-xs-4 center-block" ng-repeat='pictureurl in message.pictureurls'>
                                <img class="rimg" src="https://s3.amazonaws.com/anonybox/{{pictureurl}}">     
                            </div>
                    </div>
                    <br>
                <div class="row">
                    <div class="col-xs-6 leftside">
                            <h2>Message Sent: <b>{{message.message}}</b> </h2>
                            <h2>Outside Temperature: {{message.temperature}} </h2>
                            <h2>Location: {{message.location}} </h2>
                    </div>
                    <div class="col-xs-6 rightside">
                            <h2>Spent {{message.staytime}} milliseconds writing the message</h2>
                            <h2>Head was {{message.distance}} inches away from the screen while typing</h2>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
